<div class="setting">
      <h1>設定</h1>
      <div class="settingin">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name, :required => true, :label => "姓名", :placeholder=> "請填入您的姓名"%>
        <%= f.input :email, :required => true, :autofocus => true, :inline_label => "帳號", :label => "Email信箱", :placeholder=> "請填入您的信箱作為帳號" %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, :autocomplete => "off", :placeholder => "如果沒有要改密碼此區留白即可", :required => false, :label => "修改密碼" %>
        <%= f.input :password_confirmation, :required => false, :placeholder => "請再次輸入欲修改密碼",:label => "確認密碼" %>
        <%= f.input :current_password, :required => true, :placeholder => "請輸入原始密碼",:label => "原始密碼"  %>
        <%= f.input :phone, :required => true,:label => "電話"  %>
        <%= f.input :years, :collection => 0..10, :prompt => 0, :label => "網路買賣經驗" %>
        <%= f.input :store, :required => true, :label => "店名" %>
        <%= f.input :logo, :label => "更新商店看板（600px X 250px)"  %>
        <%= image_tag(current_seller.logo) %>
        <%= f.input :about, :required => true, :label => "關於店家", :placeholder=> "介紹一下自己的商店吧！" %>
        <%= f.input :bank, :required => true, :label => "銀行名稱代碼" %>
        <%= f.input :bank_branch, :required => true, :label => "分行名稱" %>
        <%= f.input :bank_username, :required => true, :label => "匯款戶名" %>
        <%= f.input :account, :required => true, :label => "帳號" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
      <% end %>



</div>
  
