<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
  

</head>

<body>
  
    <div class="waiting">
        <h1>待處理訂單</h1>
        
        <div class="waitingin">
        

<%- model_class = Order -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("日期") %></th>
      <th><%= model_class.human_attribute_name("顧客email") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%F") %></td>
        <td><%= order.contact %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_order_path(order), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      order_path(order),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
      
    </div>    

</body>


</html>