<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
	

</head>


<body>
	
	
<div class="main">
	<div class="container">
	<a name="linktotop"></a>
		<div class="hero">
			<div class="signup">
								<h3>登入Superbuy超級寶<h3>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="register1">
	<p>Email信箱</p>
	<%= f.input_field :email,:required => false, :autofocus => true %>
</div>
<div class="register2">
    <p>密碼</p><%= f.input_field :password, :required => false %>
</div>
    <p><%= f.input_field :remember_me, :as => :boolean if devise_mapping.rememberable? %>&nbsp;&nbsp;記住我</p>
	
	<div class="register3">
   	 <%= f.button :submit, "登入" %>
  </div>

<% end %>
								<h5><%= link_to "忘記密碼", new_password_path(resource_name) %>了嗎？</h5>
								<h5>還沒有帳號？點這邊<%= link_to "註冊帳號", new_registration_path(resource_name) %>！</h5>
								<h6><a href="/privacy.html">隱私政策</a>/<a href="/service.html">&nbsp;服務條款</a>！</h6>
					
									<br>
								
				
			</div>
		</div>


		<div class="feature"><a name="headline1"></a>
			<h1>產品功能</h1>
<div class="title"><h4>Superbuy超級寶是專為小資網購、代購賣家設計的訂單管理系統，透過最簡單、方便的工具方便您的盤點作業。<br>現在立即註冊基本寶，完全免費！</h4></div>
			<div class="featureoutter">

				<div class="featureinner">
					<div class="featureicon1">
					
					</div>
					<h2>客製化服務</h2>
					<h4>1. 置入商家logo<br>
					2. 鑲嵌短文介紹<br>
					3. 強調店家風格特色<br><br>
					</h4>
				</div>
				<div class="featureinner">
					<div class="featureicon2">
					
					</div>
					<h2>訂單管理</h2>
					<h4>1. 簡化交易流程<br>
					2. 交易記錄自動建檔<br>
					3. 自訂統一郵件格式<br><br>
					<h4>

				</div>
				<div class="featureinner">
					<div class="featureicon3">
					
					</div>
					<h2>盤點整理 </h2>
					<h4> 1. 記錄一目了然<br>
					2. 商品狀況自動表格化 <br>
					3. 自由編輯訂單<br><br>
					</h4>
				</div>
				

			</div>


		</div>

		

		<div class="plan">
			<a name="headline2"></a><h1>方案介紹</h1>
			<div class="planoutter">

					<table> 
					<tr> 
						<th class="th2">功能</th>
						<th class="th2">Basicbuy基本寶</th>
						<th class="th2">Probuy專業寶</th>
						<th class="th2">Superbuy超級寶</th>
					</tr>
					
					<tr>
						<td class="th1">客製化下單介面</td>
						<td>有</td>
						<td>有</td>
						<td>有</td>
					</tr> 
					<tr> 
						<td class="th1">訂單自動化建檔</td>
						<td>有</td>
						<td>有</td>
						<td>有</td>
					</tr>
					<tr> 
						<td class="th1">訂單明細自動匯出</td>
						<td>有</td>
						<td>有</td>
						<td>有</td>
					</tr>
					<tr> 
						<td class="th1">商品盤點功能</td>
						<td>有</td>
						<td>有</td>
						<td>有</td>
					</tr>
					<tr> 
						<td class="th1">儲存資料庫上限</td>
						<td>20,000筆</td>
						<td>無限</td>
						<td>無限</td>
					</tr>
					<tr> 
						<td class="th1">訂單每月上限</td>
						<td>300筆</td>
						<td>800筆</td>
						<td>無限</td>
					</tr>
					<tr> 
						<td class="th1">進階模版設計</td>
						<td>無</td>
						<td>有</td>
						<td>有</td>
					</tr>
					<tr> 
						<td class="th1">多重管理者</td>
						<td>無</td>
						<td>有</td>
						<td>有</td>
					</tr>
					<tr> 
						<td class="th1">手機平板App提醒推播</td>
						<td>無</td>
						<td>無</td>
						<td>有</td>
					</tr>
					<tr>
						<td class="th1">方案定價<br>
							(一次收費永久使用）</td>
						<td>11/31前註冊，<br>即可免費使用！</td> 
						<td>500元，封測中</td>
						<td>1000元，開發中</td>
					</tr>
					

					</table>
					
					<div class="freesignup"><input class="freesignupbottom" type="submit" value="立刻免費使用！">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欲加入封測請email至tough@fontech.com.tw，謝謝您。</div>


			</div>
		</div>

		<div class="instruction">	
			<a name="headline3"></a><h1>新手上路</h1>
			<div class="instructionin">


			</div>
		</div>

	</div>
	
</div>

</body>


</html>